#/Code/SA_Java_Journals/nbproject/private/
/Code/SA_Java_Journals/dist/
/Code/SA_Java_Journals/build/
/Code/SA_Java_Journals/nbproject/genfiles.properties
/SQL/JournalsSchema.mwb.bak
*~
/Code/SA_Java_Journals_site/nbproject/private/
