<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>Publisher access</display-name>
        <web-resource-collection>
            <web-resource-name>journal</web-resource-name>
            <description/>
            <url-pattern>/rest/journal/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>PUT</http-method>
            <http-method>HEAD</http-method>
            <http-method>POST</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>journal-publications</web-resource-name>
            <description/>
            <url-pattern>/rest/journalpublication/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>PUT</http-method>
            <http-method>HEAD</http-method>
            <http-method>POST</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>PUBLISHER</role-name>
            <role-name>PUBLIC</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Public access</display-name>
        <web-resource-collection>
            <web-resource-name>subscriptions</web-resource-name>
            <description/>
            <url-pattern>/rest/subscription/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>PUT</http-method>
            <http-method>HEAD</http-method>
            <http-method>POST</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>PUBLIC</role-name>
            <role-name>PUBLISHER</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>sajavajournals-realm</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>PUBLISHER</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>PUBLIC</role-name>
    </security-role>
</web-app>
