<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">SA Java Journal</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav" data-bind="foreach: routerObj.routesArr">
				<!-- ko if: $data.params.inMainMenu -->
				<li data-bind="css: { active: $parent.routerObj.currentRoute().page === $data.params.page }">
					<a data-bind="attr: {href: '#' + $data.url}, text: $data.params.label"></a>
				</li>
				<!-- /ko -->
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<!-- ko if: authModel.success -->
				<li>
					<p class="navbar-text">Signed in as <span data-bind="text: authModel.userName"> </span>, <a href="#" class="navbar-link" data-bind="click: logout">logout</a></p>
				</li>
				<!-- /ko -->
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>